.env

*.csv
*.json
*.jsonl
!package.json
!package-lock.json
!src/**/verified_selectors.json
!src/**/article_url_regexes.json

.coverage

downloaded*
versioned*
models

# JSON credentials
!src/**/*.json
!**/service_account.json
!**/config.json
!**/firebase.json
!src/**/patch.json
!src/**/*.identity.json
!src/stores/*.json
!src/entities/*.json
